<section class="choose">
    <div class="container">
        <div class="choose__content">

            <div class="choose__info">
                <h2 class="choose__title">Why Choose Us</h2>
                <p class="choose__text">
                    Tion and dislike men who are so beguiled and demoralized by desire by the charms of pleasure of the
                    moment, so blinded by desire, that they cannot foresee
                </p>

                <p class="choose__text">
                    Ddislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded
                    by desire, that.
                </p>

                <a class="choose__button button button--link" href="#">Explore Places</a>
            </div>


            <div class="choose__slides">
                <div class="choose__slide">
                    <img src="img/slide-1.jpg" alt="House near the sea">
                </div>
                <div class="choose__slide choose__slide--left">
                    <img src="img/slide-2.jpg" alt="The mountains">
                </div>
            </div>

        </div>
    </div>
</section>