<header class="header">
    <div class="container">
        <div class="header__inner">
            <h1 class="header__title">Bhromaon</h1>
            <h2 class="header__subtitle">Safe Travel Anywhere</h2>

            <div class="header__search-wrapper">
                <form class="header__search" action="#" method="GET">
                    <input type="search" class="header__search-input" id="search"
                        placeholder="Search Your Travel Destination">
                    <label for="search">Search</label>
                    <button type="submit" class="header__search-button button">
                        Search
                        <span class="header__search-icon icon-search"></span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="header__scroll">
        <a class="header__scroll" href="#spain">Scroll Down
        <span class="header__scroll-icon icon-arrow-down"></span>
    </a>
    </div>

    <div class="header__navigation-wrapper">
        <div class="container">

            <div class="header__navigation">

                <div class="header__logo">
                    <a href="#" class="header__logo-link">Bhromaon</a>
                </div>

                <nav class="header__menu">

                    <button class="header__menu-toggle">
                        Menu
                        <span class="icon-menu-1"></span>
                    </button>

                    <ul class="header__menu-list">

                        <li class="header__menu-item">
                            <a href="#" class="header__menu-link">Who We Are</a>
                        </li>
                        <li class="header__menu-item">
                            <a href="#" class="header__menu-link">What We Do</a>
                        </li>
                        <li class="header__menu-item">
                            <a href="#" class="header__menu-link">Travel With Us</a>
                        </li>
                        <li class="header__menu-item">
                            <a href="#" class="header__menu-link">Contact Us</a>
                        </li>

                    </ul>
                </nav>

            </div>

        </div>
    </div>

</header>