<section class="reviews">
  <div class="container">
        <div class="reviews__content">
            <h2 class="reviews__title">What Our  Tourist Say</h2>
    
            <div class="reviews__item">
                <div class="reviews__image">
                    <img src="./img/review-1.jpg" alt="">
                </div>
    
                <div class="reviews__text">
                    <h3 class="reviews__author">Sam Sumon</h3>
                    <p class="reviews__comment">
                        <i class="icon-quote-left reviews__comment-icon"></i>
                        But I must explain to you how all this mistaken idea of account to denouncinpleasure and praising pain  But I must explain to you how all this mistaken idea of account to nai denouncing pleasure and praising pain was account  born and I account will give you a complete account of the system was account  born and I account will give you a nai the complete account of the system
                    </p>
                </div>
            </div>
        </div>
  </div>

</section>