<section class="spain" id="spain">

    <div class="spain__left">
        <div class="container">
            <div class="spain__content">
              <div class="spain__card">
                    <h2 class="spain__title">Spain</h2>
                    <h3 class="spain__subtitle">Grand Spain Madrid</h3>
                    <p class="spain__text">
                        But I must explain to you how all this mistaken idea of account to denouncing
                        pleasure and praising
                        pain was account born and I account will give you a complete account of the system
                    </p>
                    <a class="spain__button button button--link" href="#">Book now</a>
              </div>
            </div>
        </div>
    </div>

    <div class="spain__right">
        <div class="container">
            <div class="spain__content spain__content--right-side">
               <div class="spain__card">
                    <h2 class="spain__title">Spain</h2>
                    <h3 class="spain__subtitle">Grand Spain Madrid</h3>
                    <p class="spain__text">
                        But I must explain to you how all this mistaken idea of account to denouncing
                        pleasure and praising
                        pain was account born and I account will give you a complete account of the system
                    </p>
                    <a class="spain__button button button--link" href="#">Book now</a>
               </div>
            </div>
        </div>
    </div>
    
</section>